:root {
    --darkgreen: #1D3557;
    --lightgreen: #D5F2E3;
    --lightergreen: #EAF6FF;
}

body{
    background-color: var(--lightgreen);
}

header{
    height: 150px;
    background-color: var(--darkgreen);
    display: flex;
    align-items: center;
    padding: 15px;
    color: var(--lightergreen)
}

.game-section{
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: var(--lightergreen)
}

.question-section{
    width: 60%;
    margin-right: 2.5%;
    background-color: var(--darkgreen);
    padding: 25px;
    /* cursor: pointer; */
}

li:hover{
    cursor: pointer;
}

.hide-answer-list{
    display: none;
}

#button-section{
    width: 30%;
    margin-left: 2.5%;
    margin-right:2.5%;
    background-color: var(--darkgreen);
    padding: 25px;
}

.initials-input{
    background-color: var(--darkgreen);
    border-color: var(--lightgreen);
}

.leaderboard-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--darkgreen);
    height: 50px;
    padding: 25px;
    color: var(--lightergreen)
}






